<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Nickname</th>
        <th>Country</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="u : ${users}">
        <td th:text="${u.id}"></td>
        <td th:text="${u.nickname}"></td>
        <td th:text="${u.country}"></td>
        <td th:text="${u.email}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>