<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
ID - <a th:text="${user.getId()}"></a><br>
<a th:text="${user.getNickname()}"></a><br>
<a th:text="${user.getCountry()}"></a><br>
<a th:text="${user.getEmail()}"></a><br>

<a th:href="@{/users/edit(id=${user.id})}">Edit</a>

<form th:method="POST" th:action="@{/users/delete(id=${user.id})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>